*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: sans-serif;
    padding: 2rem;
    color: #94c494;
}

h2{
    padding-top: 6rem;
}


div{
    font-size: 5px;
}



.cards{
    height: 90vh;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 2rem;
}

.card{
    list-style: none;
    background: rgba(255,255,255,0.9);
    border-radius: 2rem;
    box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.2);
    color: #94c494;
}



img{
    width: 28rem;
    vertical-align: text-top;
}

.box{
    background: #94c494;
    width: 15rem;
    height: 10rem;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    align-items: center;
    position: relative;
    left: 6rem;

}

.card--first{
    grid-column: 1 / 3;
    grid-row: 1 / 13;
    display: flex;
    border: 3px solid rgb(148, 196, 148);
    justify-content: center;
    align-items: center;
    display: block;

}




.card--second{
    grid-column: 7 / 13;
    grid-row: 1 / 9;
    border: 3px solid rgb(148, 196, 148);
}

#myChart{
    
}



  

.card--fourth{
    grid-row: 9 / 13;
    grid-column: 9 / 13;
    border: 3px solid rgb(148, 196, 148);
    padding-top: 4.5rem;
}

.card--fifth{
    grid-row: 9 / 13;
    grid-column: 5 / 9;
    border: 3px solid rgb(148, 196, 148);
    display: flex;
    padding: 6rem;
    justify-content: center;

}

.card--fifth > input{
    background: #94c494;
    color: #94c494;
}



p{
    display: flex;
    justify-content: center;
    align-items: center;
}

#time{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px rgb(148, 196, 148) solid;

}


.card--third{
    grid-row: 9 / 13;
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    border: 3px solid rgb(148, 196, 148);
}

.card--third > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card--third > button{
    width: 15rem;
    height: 6rem;
    font-size: 2rem;
    font-family: sans-serif;
    border: none;
    background: #ee1515;
    color: #eee;
    border-radius: 0.5rem;
}

#js--naruto--tekst{
    padding: 5rem;
}

#js--title{
    padding-left: 5rem;
    padding-top: 2rem;
}



/* in een mediaquary is 1 rem ALTIJD de user zijn font-size */
@media screen and (max-width: 87.5rem) {
    .card--second{
        grid-row: 1 / 7;
    }
    .card--third{
        grid-column: 1 / 5;
    }

    .card--fourth{
        grid-row: 9 / 13;
        grid-column: 9 / 13;
    }
}


@media screen and (max-width: 62.5rem) {
    .card--second{
        grid-row: 1 / 7;
    }

    .card--fourth{
        grid-row: 9 / 13;
        grid-column: 9 / 13;
    }

}